@media (max-width: 800px -1) {
  #root {
    width: 100%;
  }
}
@media (min-width: 800px) {
  #root {
    width: 800px;
  }
}
@media screen and (max-width: 600px) {
  .flex-row {
    flex-direction: column !important;
  }

  .flex-side {
    flex-direction: row !important;
    align-items: flex-start !important;
    align-content: flex-start !important;
  }

  .portrait {
    top: 0 !important;
    margin-bottom: 0 !important;
  }

  .info-container:first-child {
    flex-basis: 100%;
  }
}
h1 {
  font-family: "Oswald";
  font-weight: 200;
  font-size: 40px;
}

h2 {
  font-weight: 200;
  font-size: 40px;
  color: #2c3133;
  margin: 10px 15px;
}

body {
  background-color: #2c3133;
  place-items: center;
  color: #2c3133;
}

#root {
  margin: 0 auto;
  max-width: 800px;
  background-color: #f7f5cf;
  -webkit-box-shadow: 0px 7px 37px 4px #0c1a1d;
  -moz-box-shadow: 0px 7px 37px 4px #0c1a1d;
  box-shadow: 0px 7px 37px 4px #0c1a1d;
}

.top-bar {
  padding-left: 30px;
  position: static;
  overflow: auto;
  color: #ffb350;
  background-color: #2a5b65;
}

.content-selector {
  top: 0px;
  position: sticky;
  z-index: 9999;
  overflow: auto;
}
.content-selector ul {
  list-style-type: none;
  padding: unset;
  margin: unset;
}
.content-selector li {
  float: left;
}
.content-selector li a {
  color: #9ba5a9;
  display: inline-block;
  padding: 10px 18px;
  background-color: #2c3133;
  transition: 0.3s;
}
.content-selector li a:hover {
  background-color: #234b53;
  color: #ffb350;
  transition: 0.2s;
}
.content-selector li a.active, .content-selector li a:active {
  background-color: #2a5b65;
  color: #ffb350;
  transition: 0.2s;
}
.content-selector li a:link, .content-selector li a:visited, .content-selector li a:hover, .content-selector li a:active {
  text-decoration: unset;
}
.content-selector li .brackets {
  position: absolute;
  margin-left: -6px;
  margin-top: -1px;
  float: left;
  height: 23px;
  width: 8px;
  border: 2px solid #ffb350;
  border-right-width: 0px;
}
.content-selector::after {
  clear: both;
}

.section-title {
  margin-top: 15px;
  font-weight: 200;
  font-size: 20px;
  color: #2c3133;
}
.section-title:first-child {
  margin-top: 17px;
}

.section {
  margin: 5px 0;
}
.section .bracket-corner {
  position: relative;
  width: 8px;
  border-bottom: 2px solid #ffb350;
}
.section .section-content {
  color: #34727e;
  border-left: 2px solid #ffb350;
  padding: 2px 10px;
}
.section span.gold {
  color: #ffb350;
}
.section span.grey {
  color: #4b5357;
}
.section a {
  color: #34727e;
  text-decoration-color: #ffb350;
}
.section a:hover {
  background-color: #ffb350;
  transition: 0.2s;
}
.section a:link, .section a:visited, .section a:active {
  color: #34727e;
  text-decoration-color: #ffb350;
}

.portrait {
  top: -35px;
  margin: auto;
  margin-bottom: -30px;
  position: relative;
  border-radius: 100px;
  width: 170px;
  height: 170px;
  display: block;
  background-color: #2c3133;
}
.portrait img {
  margin: 8px;
  border-radius: 100px;
  border: 2px solid #ffb350;
}

.flex-row {
  display: flex;
  flex-direction: row-reverse;
}
.flex-row .flex-main {
  padding: 5px 20px 30px;
  flex: 70%;
}
.flex-row .flex-side {
  background-color: #2c3133;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex: 30%;
  padding: 5px 20px 30px;
  min-width: 170px;
}

.timeline {
  display: flex;
  flex-direction: row;
}
.timeline .years {
  flex: 10%;
}
.timeline .years div {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
}
.timeline .jobs {
  flex: 90%;
}
.timeline .jobs .title {
  font-size: 20px;
  font-weight: 400;
  color: #2a5b65;
}
.timeline .jobs .text {
  font-size: 16px;
  font-weight: 400;
  color: #2c3133;
}

.info-container {
  width: 170px;
}
.info-container .title {
  margin: 8px 0 3px;
  color: #34727e;
}
.info-container .content, .info-container a {
  color: #ffb350;
}
.info-container .content p, .info-container a p {
  font-weight: 400;
  margin: 0;
}

/*# sourceMappingURL=App.css.map */
