//document sizes
$page-width: 800px;
@media (max-width: $page-width -1) {
  #root {
    width: 100%;
  }
}
@media (min-width: $page-width) {
  #root {
    width: $page-width;
  }
}
@media screen and (max-width: 600px) {
  .flex-row {   
    flex-direction: column !important;
  }
  .flex-side {
    flex-direction: row !important;
    align-items: flex-start !important;
    align-content: flex-start !important;
  }
  .portrait {
    top: 0 !important;
    margin-bottom: 0 !important;
  }
  .info-container {
    &:first-child {
      flex-basis: 100%;
    }
  }
}


//color schemes
$gold: #ffb350;
$beige: #f7f5cf;
$blue: #2a5b65;
$grey: #2c3133;

$grey-lighten: lighten($color: $grey, $amount: 13);
$blue-lighten: lighten($color: $blue, $amount: 7); 

$backdrop-color: $grey;
$front-color: $beige;
$topbar-color: $blue;
$topbar-font-color: $gold;
$basic-font-color: black;
$menu-font-color: $beige;
$menu-background-color: $grey;
$menu-active-font-color: $gold;
$menu-active-background-color: $blue;


h1 {
  font-family: 'Oswald';
  font-weight: 200;
  font-size: 40px;
}
h2 {
  font-weight: 200;
  font-size: 40px;
  color: $grey;
  margin: 10px 15px;
}

body {
    background-color: $backdrop-color;
    place-items: center;
    color: $grey;
  }
  
  #root {
    margin: 0 auto;
    max-width: $page-width;
    background-color: $front-color;

    -webkit-box-shadow: 0px 7px 37px 4px darken($blue, 20);
    -moz-box-shadow: 0px 7px 37px 4px darken($blue, 20);
    box-shadow: 0px 7px 37px 4px darken($blue, 20);
  }

  .content {
    //padding: 5px 20px 30px;
  }
  
  .top-bar{
    padding-left: 30px;
    position: static;
    overflow: auto;
    color: $topbar-font-color;
    background-color: $topbar-color;
  }
  .content-selector {
    top: 0px;
    position: sticky;
    z-index: 9999;
    overflow: auto;
    ul {
        list-style-type: none;
        padding: unset;
        margin: unset;
    }
    li {
        float: left;
    }
    li a {
        color: $menu-font-color;
        display: inline-block;
        padding: 10px 18px;
        background-color: $menu-background-color;
        transition: 0.3s;

        &:hover {
          background-color: darken($menu-active-background-color, 5);
          color: $menu-active-font-color;
          transition: 0.2s;
        }
        &.active, &:active {
            background-color: $menu-active-background-color;
            color: $menu-active-font-color;
            transition: 0.2s;
        }

        &:link, &:visited, &:hover, &:active {
            text-decoration: unset;
        }
    }
    li .brackets {
      position: absolute;
      margin-left: -6px;
      margin-top: -1px;
      float: left;
      height: 23px;
      width: 8px;
      border: 2px solid $gold;
      border-right-width: 0px;
    }
    &::after {
        clear: both;
    }
  }

  .section-title {
    &:first-child {
      margin-top: 17px;
    }
    margin-top: 15px;
    font-weight: 200;
    font-size: 20px;
    color: $grey;
  }

  .section {
    margin: 5px 0;
    .bracket-corner {
      position: relative;
      width: 8px;
      border-bottom: 2px solid $gold;
    }
    .section-content {
      color: $blue-lighten;
      border-left: 2px solid $gold;
      padding: 2px 10px;
    }
    span {
      &.gold {color: $gold;}
      &.grey {color: $grey-lighten;}
    }
    a {
      color: $blue-lighten;
      text-decoration-color: $gold;
      &:hover {
        background-color: $gold;
        transition: 0.2s;
      }
      &:link, &:visited, &:active {
        color: $blue-lighten;
        text-decoration-color: $gold;
      }
    }
  }

.portrait {
  top: -35px;
  margin: auto;
  margin-bottom: -30px;
  position: relative;
  border-radius: 100px;
  width: 170px;
  height: 170px; 

  display: block;
  background-color: $grey;
  img {
    margin: 8px;
    border-radius: 100px;
    border: 2px solid $gold;
  }
}

.flex-row {
  display: flex;
  flex-direction: row-reverse;
  .flex-main {
    padding: 5px 20px 30px;
    flex: 70%;
  }
  .flex-side {
    background-color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 30%;
    padding: 5px 20px 30px;
    min-width: 170px;
  }
}

.timeline {
  //* {border: 1px red solid; box-sizing: border-box; }
  display: flex;
  flex-direction: row;
  .years {
    flex: 10%;
    div {
      font-size: 16px;
      font-weight: 400;
      padding: 5px 0;
    }
  }
  .jobs {
    flex: 90%;
    .title{
      font-size: 20px;
      font-weight: 400;
      color: $blue;
    }
    .text {
      font-size: 16px;
      font-weight: 400;
      color: $grey;
    }
  }
}

.info-container {
  width: 170px;
  //border: 1px red solid;
  .title{
    margin: 8px 0 3px;
    color: $blue-lighten;
  }
  .content, a{
    color: $gold;
    p {
      font-weight: 400;
      margin: 0;
    }
  }
}


